<% layout("layouts/boilerplate") %>


<div class="container">
    <div class="d-flex justify-content-center align-content-center mb-5">
        <div class="row flex-fill">
            <div class="col-sm-6 mx-auto">
                <div class="card shadow">
                    <div class="order-1">
                        <img class="img-fluid" src="https://source.unsplash.com/qelGaL2OLyE" alt="image">
                    </div>
                    <div class="card-body order-2">
                        <h5 class="card-title">Login</h5>
                        <form action="/login" method="POST" class="validated-form" novalidate >
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" id="username" placeholder="username" name="username" autofocus required>
                                <div class="valid-feedback">Looks good!</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="text" id="password" placeholder="password" name="password" required>
                                <div class="valid-feedback">Looks good!</div>
                            </div>
                            <div class="d-grid">
                            <button class="btn btn-success">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


